<!DOCTYPE HTML>
<html>
<head>
    <title>Remote ECG</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>
<body onload="javascript:wsconnect()">
  <div class="container">
	<h2>Remote ECG monitor</h2>
    <p>To hold, click on chart. Click again to resume rolling.</p>
	<div style="width:800px;height:200px">
        <canvas id="myChart"></canvas>
    </div>
</body>
    <script type="text/javascript" charset="utf-8">
// Variables for plot tracing
		var xMax=5;           // width of the visualization in seconds
// Variables for heartbeat estimate
		var lastR //last R peak
		var isR=false
		var basetime=0
// Variables for filtering (moving average)
		var mem=[0,0,0,0,0];  // memory for smoothing function
		var memcur=0;
		var smoothed=0;
// Hold/Rol trace
		var hold=false;    // hold command received (click on chart)
		var discard=false; // discard points
// Statistics
		var lastt=null;
// Chart
		var ctx = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				datasets: [{
					label: "{{userkey}} ",
					data: [],
					fill: false,
					radius: 1,
					tension: 0
					}]
				},
			options: {
				'onClick' :  (evt, item) => {
					hold= ! hold;
				},
				title: {
					display: false,
					text: 'TEST'
				},
				animation:false,
				scales: {
					yAxes: [{
						ticks: {
							max: 1,
							min: -1,
							stepSize: 0.2,
							}
						}],
					xAxes: [{
						type: 'linear',
						position: 'bottom',
						ticks: {
							min: 0,
							max: xMax,
							stepSize: 0.2
							}
						}]
					}
				}
			});

		function smooth(x) {
			// first mem.length data are not significant
			var l=mem.length;
			var val=parseFloat(x);
			smoothed=((smoothed*l)-mem[memcur]+val)/l;
			mem[memcur]=val;
			memcur=(memcur+1)%l;
			return smoothed;
		}
		
		function ppm(point) {
			if ( point["y"] > 0.7 ) {
				if ( isR != true ) {
					freq=Math.round(60/(point["x"]-lastR))
					if (freq < 1000) {
						myChart.data.datasets[0].label="{{userkey}} ("+freq+" PPM)";
					}
					lastR=point["x"]
					isR=true
				}
			} else {
				isR=false
			}
			return;
		}		

		function updateChart(JSONpoint) {
//			console.log(JSONpoint);    //DEBUG ONLY
			frame=JSON.parse(JSONpoint)
			for (n=0; n<frame.length; n++ ) {
				if (lastt == null ) {
					lastt=frame[n]["t"];
				} else {
					var dt = ((frame[n]["t"]-lastt)/0.005).toFixed(0);
					console.log(dt);
					lastt=frame[n]["t"];
				}
				var t=frame[n]["t"]-basetime
// roll over every xMax seconds
				if ( t > xMax ) {
					basetime=frame[n]["t"];
					t=0;
					if ( hold ) {
						discard = true
					} else {
						myChart.data.datasets[0].data=[];
					}
				}
// restart after hold
				if ( ! hold && discard ) {
					discard=false;
					basetime=frame[n]["t"];
					t=0;
					myChart.data.datasets[0].data=[];
				}
// collect new point
				if (! discard ) {
					var point={x:t,y:smooth(frame[n]["y"][0])}; // only first value is displayed
// estimates heartbeat rate (ppm)
					ppm(point);
//			    console.log(nextPoint);   //DEBUG ONLY
// Rolling plot: xMax is visualization width, freq is sampling frequency
					myChart.data.datasets[0].data.push(point);
					if ( ! hold ) { discard=false }
				}
			}
			myChart.update()
		}
 
        function wsconnect() {
			id="{{userkey}}"
			console.log("got "+ id );
            if ("WebSocket" in window) {
                ws = new WebSocket("ws://"+location.host+"/out/"+id);
                ws.onopen = function (event) {
					console.log('new socket from '+id);
				}
                ws.onmessage = function (event) {
					updateChart(event.data)
                };
                ws.onclose = function (){
					alert("WebSocket disconnect (user not ready)");
                    console.log('socket closed');
                }
            } else {
                alert("WebSocket not supported");
            }
            window.onbeforeunload = function() {
              ws.close()
            };
        }
    </script>

</html>
